body {
    font-family: sans-serif;
    background-color: #FBF3C8;
    margin: 0;
    padding: 0;
}

div{
    width:100% ;
    height: 100px;
    background-color: #FFE4C3;
    
}

h1{
    text-align: center;
    

}

p{
    margin-top: -1px;
    padding-left:5px;
    font-family: Bradley Hand, cursive;
}

.facts{
    border: 5px dashed white;
    

}

img:hover{
    box-shadow: 5px 5px 6px gray;
}

img:hover{
    transform: scale( 1.5);
    transition: 5s linear;
}

.game{
  
    background-color:#F0E68C ;
}

li{
    font-family: Bradley Hand, cursive;
}

table{
    align-items: center;
    margin: auto;
}

.game1{
  
    background-color:#F0E68C ;
}
